In [1]:
import pandas as pd
import numpy as np

# Leer el CSV
df = pd.read_csv('DatosPersonales.csv')
print(df)
# Reemplazar valores nulos representados de diferentes formas
df.replace([None, 'nan', '-'], np.nan, inplace=True)

# Correcciones sin inplace en columnas
df['Genero'] = df['Genero'].replace({'M': 'Masculino', 'H': 'Masculino', 'F': 'Femenino', 'Mujer': 'Femenino'})
df['Edad'] = df['Edad'].fillna(df['Edad'].median())
df['Ingresos'] = df['Ingresos'].fillna(df['Ingresos'].median())
df['Pais'] = df['Pais'].fillna(df['Pais'].mode()[0])
df['Visitas'] = df['Visitas'].astype(float)
df['Visitas'] = df['Visitas'].fillna(int(df['Visitas'].mean()))

# Eliminar registros con Email vacío y duplicados
df.dropna(subset=['Email'], inplace=True)
df.drop_duplicates(inplace=True)
df.reset_index(drop=True, inplace=True)

# Guardar el archivo limpio
df.to_csv('DatosPersonalesLimpios.csv', index=False)

# Mostrar final
df

  Nombre  Edad Genero  Ingresos           Email  Visitas       Pais
0   Juan  25.0      M    3000.0   juan@mail.com      5.0   Colombia
1  Maria  30.0      F    4000.0  maria@mail.com      7.0   Colombia
2  Pedro   NaN      H    3500.0             NaN      6.0     Mexico
3    NaN  22.0      M       NaN  pedro@mail.com      NaN        NaN
4  Luisa  29.0      F    3200.0  luisa@mail.com      8.0  Argentina
5      -  28.0  Mujer       NaN             NaN      7.0   Colombia
6    Ana   NaN      F    3100.0    ana@mail.com      NaN          -

  Nombre  Edad     Genero  Ingresos           Email  Visitas       Pais
0   Juan  25.0  Masculino    3000.0   juan@mail.com      5.0   Colombia
1  Maria  30.0   Femenino    4000.0  maria@mail.com      7.0   Colombia
2    NaN  22.0  Masculino    3200.0  pedro@mail.com      6.0   Colombia
3  Luisa  29.0   Femenino    3200.0  luisa@mail.com      8.0  Argentina
4    Ana  28.0   Femenino    3100.0    ana@mail.com      6.0   Colombia

In [3]:
import pandas as pd
import numpy as np

# Cargar los datos
df = pd.read_csv('Datosucios.csv')
print("Data original:")
print(df)

# Reemplazar valores None y 'nan' por np.nan
df = df.replace([None, 'nan'], np.nan)
print("\nData después de reemplazar None y 'nan':")
print(df)

# Imputar valores faltantes correctamente
df['Edad'] = df['Edad'].fillna(df['Edad'].median())
df['Ingresos'] = df['Ingresos'].fillna(df['Ingresos'].median())
df['Visitas'] = df['Visitas'].fillna(int(df['Visitas'].mean()))

print("\nData después de imputar valores faltantes:")
print(df)

# Eliminar registros sin Email
df = df.dropna(subset=['Email'])
print("\nData después de eliminar registros sin Email:")
print(df)

# Resetear el índice
df = df.reset_index(drop=True)

# Guardar los datos limpios
cleaned_data_path = 'DatosLimpios.csv'
df.to_csv(cleaned_data_path, index=False)

print("\nData final limpia y guardada:")
print(df)

# Mostrar ruta del archivo guardado
print("\nArchivo guardado en:", cleaned_data_path)

Data original:
      ID  Edad  Ingresos               Email  Visitas  Compra
0      1  62.0  67091.01                 NaN      7.0   False
1      2   NaN       NaN  ejemplo@correo.com      NaN   False
2      3  18.0  56035.12                 NaN      5.0   False
3      4  21.0  39727.85  ejemplo@correo.com      3.0   False
4      5  21.0  36938.04       info@data.com      3.0   False
..   ...   ...       ...                 ...      ...     ...
145  146  59.0  55687.28     prueba@test.com      3.0    True
146  147  19.0  83889.63       info@data.com      2.0   False
147  148  54.0  49366.14                 NaN      4.0   False
148  149  28.0  35660.82     prueba@test.com      4.0    True
149  150   NaN       NaN       info@data.com      NaN   False

[150 rows x 6 columns]

Data después de reemplazar None y 'nan':
      ID  Edad  Ingresos               Email  Visitas  Compra
0      1  62.0  67091.01                 NaN      7.0   False
1      2   NaN       NaN  ejemplo@correo.com      NaN   False
2      3  18.0  56035.12                 NaN      5.0   False
3      4  21.0  39727.85  ejemplo@correo.com      3.0   False
4      5  21.0  36938.04       info@data.com      3.0   False
..   ...   ...       ...                 ...      ...     ...
145  146  59.0  55687.28     prueba@test.com      3.0    True
146  147  19.0  83889.63       info@data.com      2.0   False
147  148  54.0  49366.14                 NaN      4.0   False
148  149  28.0  35660.82     prueba@test.com      4.0    True
149  150   NaN       NaN       info@data.com      NaN   False

[150 rows x 6 columns]

Data después de imputar valores faltantes:
      ID  Edad   Ingresos               Email  Visitas  Compra
0      1  62.0  67091.010                 NaN      7.0   False
1      2  41.5  50209.845  ejemplo@correo.com      4.0   False
2      3  18.0  56035.120                 NaN      5.0   False
3      4  21.0  39727.850  ejemplo@correo.com      3.0   False
4      5  21.0  36938.040       info@data.com      3.0   False
..   ...   ...        ...                 ...      ...     ...
145  146  59.0  55687.280     prueba@test.com      3.0    True
146  147  19.0  83889.630       info@data.com      2.0   False
147  148  54.0  49366.140                 NaN      4.0   False
148  149  28.0  35660.820     prueba@test.com      4.0    True
149  150  41.5  50209.845       info@data.com      4.0   False

[150 rows x 6 columns]

Data después de eliminar registros sin Email:
      ID  Edad   Ingresos               Email  Visitas  Compra
1      2  41.5  50209.845  ejemplo@correo.com      4.0   False
3      4  21.0  39727.850  ejemplo@correo.com      3.0   False
4      5  21.0  36938.040       info@data.com      3.0   False
5      6  57.0  41317.260     prueba@test.com      4.0    True
6      7  27.0  45326.710     prueba@test.com      5.0   False
..   ...   ...        ...                 ...      ...     ...
144  145  32.0  49744.690       info@data.com      8.0   False
145  146  59.0  55687.280     prueba@test.com      3.0    True
146  147  19.0  83889.630       info@data.com      2.0   False
148  149  28.0  35660.820     prueba@test.com      4.0    True
149  150  41.5  50209.845       info@data.com      4.0   False

[112 rows x 6 columns]

Data final limpia y guardada:
      ID  Edad   Ingresos               Email  Visitas  Compra
0      2  41.5  50209.845  ejemplo@correo.com      4.0   False
1      4  21.0  39727.850  ejemplo@correo.com      3.0   False
2      5  21.0  36938.040       info@data.com      3.0   False
3      6  57.0  41317.260     prueba@test.com      4.0    True
4      7  27.0  45326.710     prueba@test.com      5.0   False
..   ...   ...        ...                 ...      ...     ...
107  145  32.0  49744.690       info@data.com      8.0   False
108  146  59.0  55687.280     prueba@test.com      3.0    True
109  147  19.0  83889.630       info@data.com      2.0   False
110  149  28.0  35660.820     prueba@test.com      4.0    True
111  150  41.5  50209.845       info@data.com      4.0   False

[112 rows x 6 columns]

Archivo guardado en: DatosLimpios.csv

In [5]:
import pandas as pd
import numpy as np

# Crear el dataset
data = {
    'Nombre': ['Juan', 'Maria', 'Pedro', None, 'Ana', 'Carlos', 'Juan'],
    'Edad': [25, 30, np.nan, 22, 28, np.nan, 25],
    'Genero': ['M', 'F', 'M', None, 'F', 'M', 'M'],
    'Email': ['juan@mail.com', 'maria@mail.com', 'pedro@mail.com', 'ana@mail.com', 'ana@mail.com', None, 'juan@mail.com'],
    'Pais': ['Colombia', None, 'Mexico', 'Argentina', 'Argentina', 'Brasil', 'Colombia']
}

df = pd.DataFrame(data)
print("Data original:")
print(df)

# Mostrar valores nulos
print("Valores faltantes:\n", df.isnull().sum())

df['Edad'] = df['Edad'].fillna(df['Edad'].median())  # Mediana para Edad
df['Genero'] = df['Genero'].fillna('Desconocido')    # Valor específico para Género
df['Pais'] = df['Pais'].fillna(df['Pais'].mode()[0])  # Moda para País

# 2. Estandarizar Género
df['Genero'] = df['Genero'].replace({'M': 'Masculino', 'F': 'Femenino'})

# 3. Eliminar duplicados
df = df.drop_duplicates()

# 4. Eliminar filas sin Email
df = df.dropna(subset=['Email'])

# 5. Resetear el índice
df = df.reset_index(drop=True)

# Mostrar dataset limpio
print("\nData limpia:")
print(df)

Data original:
   Nombre  Edad Genero           Email       Pais
0    Juan  25.0      M   juan@mail.com   Colombia
1   Maria  30.0      F  maria@mail.com       None
2   Pedro   NaN      M  pedro@mail.com     Mexico
3    None  22.0   None    ana@mail.com  Argentina
4     Ana  28.0      F    ana@mail.com  Argentina
5  Carlos   NaN      M            None     Brasil
6    Juan  25.0      M   juan@mail.com   Colombia
Valores faltantes:
 Nombre    1
Edad      2
Genero    1
Email     1
Pais      1
dtype: int64

Data limpia:
  Nombre  Edad       Genero           Email       Pais
0   Juan  25.0    Masculino   juan@mail.com   Colombia
1  Maria  30.0     Femenino  maria@mail.com  Argentina
2  Pedro  25.0    Masculino  pedro@mail.com     Mexico
3   None  22.0  Desconocido    ana@mail.com  Argentina
4    Ana  28.0     Femenino    ana@mail.com  Argentina

In [ ]:
import pandas as pd

data = {
    'Nombre': ['Carlos', 'Ana', 'Luis', 'Pedro', 'María', None],
    'Edad': [34, 29, None, 45, 25, 33],
    'FechaIngreso': ['2021-01-15', '2020/03/12', '2022-07-01', '2021/12/01', '2021-05-20', '2020-03-12'],
    'ResultadoPrueba': ['Positivo', 'Negativo', 'Positivo', 'Positivo', 'Negativo', 'Negativo']
} 
df = pd.DataFrame(data)
print("Data original:")
print(df)
print("\nValores faltantes:")
print(df.isnull().sum())

df['FechaIngreso'] = pd.to_datetime(df['FechaIngreso'], errors='coerce',format='%Y-%m-%d')
df['Edad'] = df['Edad'].fillna(df['Edad'].median())
df = df.dropna(subset=['Nombre'])
print("\nData después de convertir FechaIngreso:")
print(df)

Data original:
   Nombre  Edad FechaIngreso ResultadoPrueba
0  Carlos  34.0   2021-01-15        Positivo
1     Ana  29.0   2020/03/12        Negativo
2    Luis   NaN   2022-07-01        Positivo
3   Pedro  45.0   2021/12/01        Positivo
4   María  25.0   2021-05-20        Negativo
5    None  33.0   2020-03-12        Negativo

Valores faltantes:
Nombre             1
Edad               1
FechaIngreso       0
ResultadoPrueba    0
dtype: int64

Data después de convertir FechaIngreso:
   Nombre  Edad FechaIngreso ResultadoPrueba
0  Carlos  34.0   2021-01-15        Positivo
1     Ana  29.0          NaT        Negativo
2    Luis  33.2   2022-07-01        Positivo
3   Pedro  45.0          NaT        Positivo
4   María  25.0   2021-05-20        Negativo

In [12]:
import pandas as pd
data = { 'ClienteID': [1, 2, 3, 4, 5],
        'Producto': ['A', 'B', 'C', 'D', 'E'],
         'Cantidad': [10, 20, None, 5, 15],
         'Precio': ['100', '200$', '300', 'cuatrocientos', '500'],
         'FechaTransaccion': ['2023-01-15', '2023/02/20', '2023-03-25', '2023/04/30', '2023-05-10']
}
df = pd.DataFrame(data)
print("Data original:")
print(df)
df['Cantidad'] = df['Cantidad'].fillna(df['Cantidad'].median())
df['Precio'] = df['Precio'].replace('cuatrocientos', '400')
df['Precio'] = df['Precio'].str.replace(r'[^0-9]', '', regex=True)
df['FechaTransaccion'] = pd.to_datetime(df['FechaTransaccion'], errors='coerce',format='%Y-%m-%d')
print(df)

Data original:
   ClienteID Producto  Cantidad         Precio FechaTransaccion
0          1        A      10.0            100       2023-01-15
1          2        B      20.0           200$       2023/02/20
2          3        C       NaN            300       2023-03-25
3          4        D       5.0  cuatrocientos       2023/04/30
4          5        E      15.0            500       2023-05-10
   ClienteID Producto  Cantidad Precio FechaTransaccion
0          1        A      10.0    100       2023-01-15
1          2        B      20.0    200              NaT
2          3        C      12.5    300       2023-03-25
3          4        D       5.0    400              NaT
4          5        E      15.0    500       2023-05-10

In [16]:
import pandas as pd

# Crear un DataFrame con los datos sucios
data = {
    'Nombre': ['Juan', 'Maria', 'Pedro', 'Ana', 'Luisa', 'Carlos', 'Juan'],
    'Edad': [25, 30, None, 29, 28, 200, 25],
    'Email': ['juan@mail.com', 'maria@mail.com', 'pedro@mail.com', 'ana@mail.com',
              'luisa@mail.com', 'carlos@mail.com', 'juan@mail.com'],
    'Pais': ['colombia', 'Colombia', 'Mexico', 'Argentina', 'Colombia', 'Brazil', 'colombia'],
    'Genero': ['M', 'F', 'H', 'F', 'Femenino', 'M', 'M'],
    'Visitas': [5, 7, 6, 4, 8, 2, 5]
}
df = pd.DataFrame(data)
print("Data original:")
print(df)
df['Edad'] = df['Edad'].fillna(df['Edad'].median())
df['Edad'] = df['Edad'].replace({
    'M': 'Masculino',
    'H': 'Masculino',
    'F': 'Femenino',
    'Femenino': 'Femenino'
})
df['Pais'] = df['Pais'].str.capitalize()
df.loc[df['Edad'] > 100, 'Edad'] = df['Edad'].median()
print("valores despues de la limpieza")
print(df)

Data original:
   Nombre   Edad            Email       Pais    Genero  Visitas
0    Juan   25.0    juan@mail.com   colombia         M        5
1   Maria   30.0   maria@mail.com   Colombia         F        7
2   Pedro    NaN   pedro@mail.com     Mexico         H        6
3     Ana   29.0     ana@mail.com  Argentina         F        4
4   Luisa   28.0   luisa@mail.com   Colombia  Femenino        8
5  Carlos  200.0  carlos@mail.com     Brazil         M        2
6    Juan   25.0    juan@mail.com   colombia         M        5
valores despues de la limpieza
   Nombre  Edad            Email       Pais    Genero  Visitas
0    Juan  25.0    juan@mail.com   Colombia         M        5
1   Maria  30.0   maria@mail.com   Colombia         F        7
2   Pedro  28.5   pedro@mail.com     Mexico         H        6
3     Ana  29.0     ana@mail.com  Argentina         F        4
4   Luisa  28.0   luisa@mail.com   Colombia  Femenino        8
5  Carlos  28.5  carlos@mail.com     Brazil         M        2
6    Juan  25.0    juan@mail.com   Colombia         M        5